[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
